# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Data files (raw data stays local, not in GitHub)
data/raw/*.csv
data/raw/*.json

# VS Code
.vscode/settings.json
venv/
